# Python package dependencies
# First create and activate conda environment:
#   conda create -n coursework python=3.11
#   conda activate coursework
# Then install packages:
#   pip install -r requirements.txt

jupyter
ipython
pandas
numpy
matplotlib
seaborn
scikit-learn
PyALE
shap
torch torchvision --index-url https://download.pytorch.org/whl/cu126

# Add your additional packages below




